body{
    background-color: rgb(255, 255, 255);
}

.posts{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}


.post{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.post_area{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}